# Environment variables
.env

# Virtual environments
.venv

# IDE files
.idea/
.vscode/

# Dependencies
node_modules

# System files
.DS_Store

# Database
*.sql
*.sqlite3
*.db
*.sqlite
# Allow critical schema file
!database/db_data.sql

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Docker
.env
.env.example
.dockerignore
# Allow critical Dockerfile
!**/Dockerfile
